@import "../../scss/fonts.scss";
@import '../../scss/themable.scss';
@import "../../scss/variables.scss";


.calc-homepage{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 700px;

  svg{
    width: 250px;
    height: 250px;
  }

  &__info{
    display: flex;
    flex-direction: column;
    text-align: center;

    h3{
      margin: 0 0 5px 0;
      font-size: 26px;
    }

    p{
      margin: 0;
      font-size: 15px;
    }
  }

  &__button{
    margin-top: 20px;
    font-size: 24px;
    padding: 10px 20px;
    background-color: $switch-btn-color;
    border:none;
    border-radius: 3px;
    color: $btn-white-color;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    
    &:hover{
      background-color: rgba($switch-btn-color,0.7);

    }

    &:active{
      background-color: rgba($switch-btn-color,0.9);
    }
  }
}