@import "../../scss/variables.scss";
@import "../../scss/icons.scss";
@import "../../scss/fonts.scss";

.confirm{
  cursor: pointer;
  color: $btn-white-color;
  text-decoration: none;
  font-size: 15px;
  margin: 0 5px 0 0;
  background-color: rgba($btn-blue-color, .7);
  user-select: none;
  padding: 6px 25px;
  outline: none;
  border: 1px solid rgba($color-black,.1);
  border-radius: 2px;
  transition: all .1s ease 0s;

  &:hover{
    border: 1px solid $btn-light-gray-color;
    background-color: rgba($btn-blue-color, .5);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
  }

  &:active {
    background-color: rgba($btn-blue-color, .3);
    background: rgba($btn-blue-color, .3) linear-gradient(rgba($btn-blue-color, .3),rgba($icon-color-hover,.6) );
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  }
}

.added{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 5px;
  color: $btn-blue-color;
  font-size: 18px;
  text-align: center;
  border-radius: 6px;
  transition: all .1s ease-in;
  user-select: none;

  &:hover {
    background-color: $btn-blue-color;
    color: $btn-white-color;
  }

  &:active {
    background-color: rgba($btn-blue-color, .6);
    color: $btn-white-color;
  }
}