@import "../../scss/fonts.scss";
@import '../../scss/themable.scss';
@import "../../scss/variables.scss";

.menu-calculation-list{
  transition: all .2s ease;

  &__title-row{
    display: flex;
    align-items: center;
    position: relative;
  }

  &__title-delete{
    font-size: 20px;
    margin-left: 7px;
    cursor: pointer;
    animation: animate-appearance .2s ease-in;

    &:hover{
      color:rgba($status-down-color,.8);
      animation-name: animate-trash;
    }

    &:active{
      color:rgba($status-down-color,.5);
    }
  }

  .item{
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: $bg-menu-color;
    padding: 7px 0 7px 0;
    transition: all .1s ease-in;
    position: relative;
    user-select: none;
    box-sizing:content;
    z-index: 0;
    font-family: 'icoCalc';
    max-width: 100%;
    
    &::before{
      content: '';
      position: absolute;
      left:0;
      top:0;
      width: 100%;
      height: 100%;
      background-color: rgba($btn-light-gray-color,0.8);
      z-index: -1;
      box-shadow: 3px -15px 6px 0px rgba(175, 175, 175, 0.12) inset;
      transition: transform 0.5s;
      transform-origin: 50px center;
      transition-timing-function: cubic-bezier(0.2, 1, 0, 1);
    }

    &::before{
      transform:scaleX(0);
    }

    &:hover::before{
      transform:scaleX(1);
    }

    &:hover {
      span > i{
        color: $icon-color-hover;
      }
    }

    &:active::before{
      background-color:rgba($btn-light-gray-color,0.4);
    }

    &__selector-ico{
      position: absolute;
      display: flex;
      align-items: center;
      top: 0px;
      left: -220px;
      width: 210px;
      height: 200px;
      transform: scaleX(-1);
      background-color: $bg-menu-color;
      max-height: 0;
      animation: animate-delete .2s ease-in;
      transition: all .2s ease-in;
      visibility: hidden;
      opacity: 0;

      .icon{
        font-size: 0px;

        &:hover{
          color: rgba($icon-color-hover, .8);
        }
  
        &:active{
          color: rgba($icon-color-hover, .5);
        }
      }

    }

    &-row{
      margin: 0 0 0px 10px;
      display: flex;
      align-items: center;
      font-size: 18px;
      
      &__item, i{
        display: inline-block;
        font-size: 25px;
        width: 25px;
        height: 25px;
        transition: 0.1s ease-in;
        margin-right: 10px;
      }
    }


    &__delete{
      position: absolute;
      right: 0;
      font-size: 25px;
      z-index: 8;
      padding-right: 10px;
      transform: rotate(45deg);
      animation: animation-delete .2s ease-in;

      &:hover{
        color: rgba($status-down-color, .8);
      }

      &:active{
        color: rgba($status-down-color, .5);
      }
    }
  }


  &__selector-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: animate-appearance .2s ease-in;

    select{
      background-color: $btn-white-color;
      font-size: 18px;
    }

    i{
      cursor: pointer;
      &:hover{
        color: rgba($color-black, .8);
      }
  
      &:active{
        color: rgba($color-black, .5);
      }
    }
  }

  &_add-text{
    margin: 0 0 0 14px;
    padding: 0;
    cursor: pointer;
    animation: animate-appearance .2s ease-in;

    &:hover{
      color: rgba($color-black, .8);
    }

    &:active{
      color: rgba($color-black, .5);
    }
  }

  &__btn-add{
    cursor: pointer;
    font-weight: 500;
    cursor: pointer;
    padding: 2px 5px;
    background-color: $btn-white-color;
    // border: 1px solid $btn-blue-color;
    color: $btn-blue-color;
    font-size: 18px;
    text-align: center;
    border-radius: 6px;
    transition: all .1s ease-in;
    user-select: none;
    animation: animate-appearance .2s ease-in;

    &:hover{
      background-color: $btn-blue-color;
      color: $btn-white-color;
    }
  
    &:active{
      background-color:rgba($btn-blue-color,.6);
      border-color: $btn-white-color !important;
      color: $btn-white-color;
    }
  }
  
}

.isDisabled{
  pointer-events: none;
  opacity: 0.4;

}

.isDeleted{
  transform: scale(0);
}

.current {
  border-left: 2px solid $btn-blue-color;
}

.isEditMode{
  cursor: grab !important;
  z-index: inherit !important;
  background: none !important;
  position: initial;

  &:active{
    cursor: grabbing !important;
  }

  &::before{
    display: none;
  }

  .item__delete{
    cursor: pointer;
  }
}

.item-drag__container{
  transition: all .3s ease;
  cursor: grab !important;
  animation: animate-drag .2s cubic-bezier(0.2, 0.82, 0.165, 1) ;

  &:active{
    cursor: grabbing !important;
  }
}

.animation-drag{
  // position: absolute;
  z-index: 1000;
  transform: scale(0.5);
  opacity: 0;
  width: 280px;
  // display: none;

  .item_delete{
    opacity: 0;
  }
}

.translate-up{
  transform: translateY(39px);
}

.icon-edit{
    margin: 0 0 0px 10px;
    display: flex;
    align-items: center;
    font-size: 18px;

    .item-row__item{
      z-index: 10 !important;
      cursor: pointer;

      &:hover{
        text-shadow: 
        0px 0px 0px rgba(black, 100%),
        0px 0px 2px rgba($icon-color-hover-dark,.8),
        0px 0px 4px rgba($info-color,.8),
        0px 0px 6px $btn-white-color,
        0px 0px 8px $btn-white-color,
        ;
      }

      &:active{
        text-shadow: none;
        color: rgba($icon-color-hover,.5);
      }
    }
}



@keyframes animate-drag {
  0%{
    opacity: 0;
    transform: scale(0.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animation-delete {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes animate-trash {
  0%{
    transform: rotate(10deg);
  }

  50%{
    transform: rotate(-10deg);
  }

  100%{
    transform: rotate(0);
  }
}