@import "../../scss/variables.scss";
@import "../../scss/icons.scss";
@import "../../scss/fonts.scss";

.keyboard{
  margin:-48px 0 0 -8px;
    padding: 0;
    display: grid;
    gap: 10px 10px;
    grid-template-areas:
      "btn_mock  btn_mock_1 btn_ac"
      "btn_seven btn_eigth btn_nine"
      "btn_four btn_five btn_six"
      "btn_one btn_two btn_three "
      "btn_dot btn_zero btn_delete";
      transition: 0.1s ease-in;
}