@import "../../../scss/variables.scss";
@import "../../../scss/icons.scss";
@import "../../../scss/fonts.scss";

.modal-info{
  position: relative;

  &__loader{
    width: 20px;
    height: 20px;
    
  };

  &__hover-window{
    position: absolute;
    top: 18px;
    right: -8px;
    cursor: default;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    display: none;
    max-width: 145px !important;
    max-height: 162px !important;
    user-select: none;
    
    h5{
      margin: 5px 10px;
      padding: 0;
      color:$btn-white-color;
      font-weight: normal;

      &:hover, &:active{
        color: $btn-white-color !important;
      }
      span{
        font-weight: 900;
      }
      .green{
        color:$status-up-color;
      }

      .red{
        color:$status-down-color;
      }

      .yellow{
        color:$status-partly-up-color;
      }
    }

    &_show{
      opacity: 1;
      visibility: inherit;
      display: inherit;
    }
    
    &_mobile{
      opacity: 1;
      visibility: inherit;
      display: inherit;
      top: 18px;
      right: -8px;
    }
  }

  &__logo{
    i{
      position: absolute;
      font-size: 25px;
      top:-120px;
      right: -10px;
      color: $btn-dark-light-color;
      cursor: pointer;
      z-index: 6;
    }
  
    :hover{
      color: rgba($btn-dark-light-color,.8);
    }
  
    :active{
      color: rgba($btn-dark-light-color,.6);
    }
  }

  &__container{
    position: absolute;
    top:-100px;
    right: 0;
    width: 110px;
    max-height: 0;
    border-radius: 5px;
    border-top-right-radius: 0px;
    padding: 8px;
    box-shadow: 0px 2px 5px 1px rgb(22 31 22 / 43%);
    // 0px 5px 5px 1px rgb(22 31 22 / 43%)
    // 0px 5px 10px -1px rgba(22, 31, 22, 0.425)
    opacity: 0;
    transition: 0.2s ease-in;
  }

  &__header{
    text-align: center;
    font-weight: 900;
    color: $btn-white-color;
    margin-bottom: 4px;
    background-color: rgba($btn-blue-color,.8);
    border-radius: 12px;
    cursor: pointer;
  }

  &__status-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 0;
    opacity: 0;
    transition: 0.2s ease-in;
    border: 1px solid $notification-bg;
    margin: 2px 0;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
    position: relative;
    text-decoration: none;

    span{
      color: $btn-blue-color;
      font-weight: 900;
      margin-left: 10px;
      max-height: 0;
      opacity: 0;
      font-size: 0px;
      transition: 0.2s ease-in;
      z-index: 3;
    }

    &::before{
      content: '';
      position: absolute;
      left:0;
      top:0;
      width: 100%;
      height: 100%;
      background-color: rgba($btn-light-gray-color,0.4);
      z-index: 2;
      box-shadow: 3px -15px 6px 0px rgba(221, 218, 218, 0.12) inset;
      transition: transform 0.5s;
      transform-origin: left;
      transition-timing-function: cubic-bezier(0.2, 1, 0, 1);
    }

    &::before{
      transform:scaleX(0);
    }

    &:hover::before{
      transform:scaleX(1);
    }

    &:active::before{
      background-color:rgba($btn-light-gray-color,0.4);
    }
  }

  &__status-api{
    width: 10px;
    height: 10px;
    background-color: $status-up-color;
    margin-right: 10px;
    box-shadow: 0px 0px 3px 0px rgba(51, 255, 0, 0.637);
    background-image: linear-gradient(210deg, #00ff55 14%, #068b1a 84%);
    text-shadow: -5px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
    border-radius: 50%;
    margin-left: 5px;
    z-index: 3;
    animation: flashing 1s ease infinite;
  }
}

.isDown{
  background-color: $status-down-color;
  box-shadow: 0px 0px 3px 0px rgba(255, 102, 0, 0.637);
  background-image: linear-gradient(210deg, #f1714a 14%, #aa0000 84%);
}

.isPartial{
  background-color: $status-partly-up-color;
  box-shadow: 0px 0px 3px 0px rgba(255, 208, 0, 0.637);
  background-image: linear-gradient(210deg, #f1e04a 14%, #aa8200 84%);
}

.isOpen{
  opacity: 1;
  max-height: 100px;

  span{
    opacity: 1;
    font-size: 16px;
    max-height: 30px;
  }
}

@keyframes flashing{
  0%{
    opacity: 1;
  }

  50%{
    opacity: .8;
    box-shadow: 0px 0px 2px 2px rgb(214, 214, 214);
  }

  100%{
    opacity: 1;
  }
}