@import "../../scss/variables.scss";
@import "../../scss/icons.scss";
@import "../../scss/fonts.scss";

.keyboard{
  margin: 50px 0 0 0;
    padding: 0;
    display: grid;
    gap: 16px;
    grid-template-areas:
      "btn_mock btn_ac btn_delete"
      "btn_seven btn_eigth btn_nine"
      "btn_four btn_five btn_six"
      "btn_one btn_two btn_three "
      "btn_mock_1 btn_zero btn_dot";
}