@import "../../scss/fonts.scss";
@import '../../scss/themable.scss';
@import "../../scss/variables.scss";


.menu__container{
  position: absolute;
  height: 757px;
  top:-5px;
  max-width: 0;
  transition: transform 0.5s linear;
}

.menu__btn{
  display: block;
  position: absolute;
  z-index: 6;
  top: 0px;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: $bg-light-color;
  margin-bottom: 55px;
  transition: 0.1s ease-in;
  
  &:hover{
    filter: brightness(0.8);
  }

  &:active{
    filter: brightness(0.9);
  }

  span, span::after,span::before{
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: $btn-dark-light-color;
  }
  
  span::after,span::before{
    content: '';
  }
  
  span::before{
    transform: translateY(5px);
  }
  
  span::after{
    transform: translateY(-5px);
  }
}

  
.menu-list{
  position: absolute;
  background: $bg-menu-color;
  height: 100%;
  top:5px;
  width: 100%;
  max-width: 0;
  opacity: 0;
  padding-top: 55px;
  transition: 0.2s ease-in;
  white-space: pre;
  z-index: -1;
}

.menu-list_open {
  max-width: 280px;
  width: 280px;
  opacity: 1;
  box-shadow: 4px -1px 5px 0px rgba(34, 60, 80, 0.12);
  font-size: 16px;
  z-index: 5;
}

.menu__container_open{
  max-width: 280px;
}

.btn_open{
  background-color: $bg-menu-color;
}
