@import "../../scss/fonts.scss";
@import '../../scss/themable.scss';
@import "../../scss/variables.scss";


.menu{
  &__container{
    position: absolute;
    height: 757px;
    top:-5px;
    max-width: 0;
    transition: transform 0.5s linear;
  }

  &__container_open{
    max-width: 280px;
  }

  &__btn{
    display: block;
    position: absolute;
    z-index: 6;
    top: 0px;
    left: 0;
    opacity: 1;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: $bg-light-color;
    margin-bottom: 55px;
    transition: opacity .3s ease-in;

    &_hide{
      opacity: 0;
      background-color: $bg-light-color;
    }
    
    &:hover{
      filter: brightness(0.8);
    }
  
    &:active{
      filter: brightness(0.9);
    }
  
    span, span::after,span::before{
      position: absolute;
      top: 50%; margin-top: -1px;
      left: 50%; margin-left: -10px;
      width: 20px;
      height: 2px;
      background-color: $btn-dark-light-color;
    }
    
    span::after,span::before{
      content: '';
    }
    
    span::before{
      transform: translateY(5px);
    }
    
    span::after{
      transform: translateY(-5px);
    }
  }

  &-list{
    position: absolute;
    background: $bg-menu-color;
    height: 100%;
    top:5px;
    width: 100%;
    max-height: 770px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 0;
    opacity: 0;
    padding-top: 55px;
    transition: max-height 0.2s,z-index 0.1s, width 0.2s, opacity 0.2s, max-width 0.2s, box-shadow 0.1s, font-size 0.1s ease-in;
    white-space: pre;
    z-index: -1;
  outline: none;
    margin-bottom: 3px;
    

    &_open {
      max-width: 280px;
      width: 280px;
      opacity: 1;
      box-shadow: 4px -1px 5px 0px rgba(34, 60, 80, 0.12);
      font-size: 16px;
      z-index: 5;
    }

    &_edit{
      position: initial;
      background: none;
      padding: 0 0 10px 0;
      // transition-duration: max-height 0.001s;
      height: 400px;
      box-shadow: 0px 0px 5px 1px rgba(34, 60, 80, 0.12);
      border-radius: 12px;

      .menu__setting{
        visibility: hidden;
      }
      
      &__draggble-container{
        margin-bottom: 3px;
      }

    }

    &_empty{
      max-height: 40px;
      opacity: 1;
      // height: 40px;
    }

    &__empty-info{
      margin: 10px 0 0 0;
      padding: 0;
      display: flex;
      justify-content: center;
      font-size: 25px;
      opacity: 1;
    }
  }

  &__add-section{
    cursor: pointer;
    font-weight: 900;
    cursor: pointer;
    margin-top: 10px;
    background-color: $btn-white-color;
    border: 1px solid $btn-blue-color;
    color: $btn-blue-color;
    margin: 10px 53px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 6px;
    transition: all .1s ease-in;
    user-select: none;
    animation: animate-appearance .2s ease-in;

    &:hover{
      background-color: $btn-blue-color;
      color: $btn-white-color;
    }
  
    &:active{
      background-color:rgba($btn-blue-color,.6);
      border-color: $btn-white-color !important;
      color: $btn-white-color;
    }
  }

  &__setting{
    font-size: 30px;
    position: absolute;
    top:5px;
    right: 8px;
    margin-top: 5px;
    margin-left: 8px;
    z-index: 100;
    cursor: pointer;
    user-select: none;
  
    &:hover{
      color: rgba($color-black, .8)
    }
  
    &:active{
      color:rgba($color-black,.6)
    }
  }
}

.menu-list_edit, .item__selector-icons{
  &::-webkit-scrollbar {
    display: inherit;
    width: 8px;
    background-color: $btn-white-color;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba($btn-dark-light-color,.2);
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: $btn-white-color;
  }
}


.deleted-anim{
  *{
    // animation: none;
    transform: none;
    opacity: 1;
  }
}

.btn_open{
  background-color: $bg-menu-color;
}

.window-icon__container{
  z-index: 1001 !important;
  transition: .1s ease-in !important;
}

@keyframes animate-appearance {
  0%{
    opacity: 0;
    transform: scale(0.5);
    transform: rotateY(90deg);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}