@import "../../scss/variables.scss";
@import "../../scss/icons.scss";
@import "../../scss/fonts.scss";

.window-overlay{
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(5px);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.05s ease-in;
  z-index: 1000;
  cursor: default;
};

.window{
  max-height: 600px;
  padding: 0 20px 7px 20px !important;
  max-width: 350px;
  border-radius: 15px;
  background-color: $btn-white-color;
  padding: 0 10px;
  box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
  transition: 0.05s ease-in;
  z-index: 1000;
  cursor: default;
  visibility: hidden;

  &__buttons-inline{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      margin-left: 10px;
      transform: rotate(45deg);
      cursor: pointer;
      font-size: 24px;
      user-select: none;
    }
  }

  &__button-props{
    max-height: 100%;
    min-width: 100%;
    // margin-bottom: 60px;
  }

  &__button-line{
    display: flex;
    // margin-top: -100px;
    justify-content: flex-end;
  }

  &__button{
    cursor: pointer;
    margin: 5px 0 10px 0;
    color: $color-black;
    text-decoration: none;
    font-size: 15px;
    user-select: none;
    padding: 6px 25px;
    outline: none;
    border: 1px solid rgba($color-black,.1);
    border-radius: 2px;
    transition: all .218s ease 0s;

    &:hover{
      color: $color-black;
      border: 1px solid $btn-light-gray-color;
      background: $btn-light-gray-color;
      box-shadow: 0 1px 2px rgba(0,0,0,.1);
    }

    &:active {
      color: rgb(51,51,51);
      border: 1px solid $btn-light-gray-color;
      background: $bg-light-color linear-gradient($bg-light-color, $btn-light-gray-color);
      box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    }
  }
}

