@import "../../../scss/fonts.scss";
@import '../../../scss/themable.scss';
@import "../../../scss/variables.scss";


.menu-calculation-list {

  &__select-container {
    width: 175px;
  }

  &__selector {
    &-container {
      position: relative;
      display: flex;
      align-items: center;
      margin-left: 10px;

      &_animate {
        animation: animate-appearance .2s ease-in;
      }

      i {
        cursor: pointer;

        &:hover {
          color: rgba($color-black, .8);
        }

        &:active {
          color: rgba($color-black, .5);
        }
      }
    }

    &-row {
      display: flex;
      align-items: center;

      i {
        margin-left: 5px;
      }
    }
  }

  &__btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    cursor: pointer;
    padding: 8px 5px;
    color: $btn-blue-color;
    font-size: 18px;
    text-align: center;
    border-radius: 6px;
    transition: all .1s ease-in;
    user-select: none;
    margin-left: 28px;

    &:hover {
      background-color: $btn-blue-color;
      color: $btn-white-color;
    }

    &:active {
      background-color: rgba($btn-blue-color, .6);
      color: $btn-white-color;
    }
  }

}