$color-black: #000;
$bg-light-color: #f1f2f3;
$btn-light-gray-color: #d2d3da;
$btn-blue-color: #4b5efc;
$btn-white-color: #ffff;
$bg-dark: #17171c;
$btn-dark-color: #2e2f38;
$btn-dark-light-color: #4e505f;
$notification-bg: hsla(233, 62%, 77%, 1);
$notification-btn: #6273f3;
$service-btn-dark-color: #794db3;
$service-btn-light-color: #d7c0f7;
$service-btn-color: #a05cfa;
