@font-face {
  font-family: "Work Sans";
  src: url("WorkSans-Regular.eot");
  src: local("Work Sans"), local("WorkSans-Regular"),
    url("../fonts/WorkSans/WorkSans-Regular.eot") format("embedded-opentype"),
    url("../fonts/WorkSans/WorkSans-Regular.woff2") format("woff2"),
    url("../fonts/WorkSans/WorkSans-Regular.woff") format("woff"),
    url("../fonts/WorkSans/WorkSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
