@font-face {
  font-family: "Work Sans";
  // src: url("WorkSans-Regular.eot");
  src: local("Work Sans"), local("WorkSans-Regular"),
    url("../fonts/WorkSans/WorkSans-Regular.eot") format("embedded-opentype"),
    url("../fonts/WorkSans/WorkSans-Regular.woff2") format("woff2"),
    url("../fonts/WorkSans/WorkSans-Regular.woff") format("woff"),
    url("../fonts/WorkSans/WorkSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello/fontello.eot?97226987");
  src: url("../fonts/fontello/fontello.eot?97226987#iefix")
      format("embedded-opentype"),
    url("../fonts/fontello/fontello.woff2?97226987") format("woff2"),
    url("../fonts/fontello/fontello.woff?97226987") format("woff"),
    url("../fonts/fontello/fontello.ttf?97226987") format("truetype"),
    url("../fonts/fontello/fontello.svg?97226987#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?7rzolj');
  src:  url('../fonts/icomoon/icomoon.eot?7rzolj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?7rzolj') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?7rzolj') format('woff'),
    url('../fonts/icomoon/icomoon.svg?7rzolj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
