[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-sun:before {
  content: "\e800";
} /* '' */
.icon-moon-1:before {
  content: "\f186";
} /* '' */

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-Trash:before {
  content: "\e909";
}
.ico-Setting:before {
  content: "\e908";
}
.ico-Swap:before {
  content: "\e907";
}
.ico-Info:before {
  content: "\e906";
}
.ico-Chemistry:before {
  content: "\e900";
}
.ico-Currency:before {
  content: "\e901";
}
.ico-Date:before {
  content: "\e902";
}
.ico-Graphing:before {
  content: "\e903";
}
.ico-Programmer:before {
  content: "\e904";
}
.ico-Standart:before {
  content: "\e905";
}
.ico-home:before {
  content: "\e90a";
}
.ico-home2:before {
  content: "\e90b";
}
.ico-office:before {
  content: "\e90c";
}
.ico-newspaper:before {
  content: "\e90d";
}
.ico-pen:before {
  content: "\e90e";
}
.ico-blog:before {
  content: "\e90f";
}
.ico-paint-format:before {
  content: "\e910";
}
.ico-images:before {
  content: "\e911";
}
.ico-coin-dollar:before {
  content: "\e93b";
}
.ico-coin-euro:before {
  content: "\e93c";
}
.ico-coin-pound:before {
  content: "\e93d";
}
.ico-coin-yen:before {
  content: "\e93e";
}
.ico-phone:before {
  content: "\e942";
}
.ico-address-book:before {
  content: "\e944";
}
.ico-clock:before {
  content: "\e94e";
}
.ico-calendar:before {
  content: "\e953";
}
.ico-shrink:before {
  content: "\e98a";
}
.ico-bug:before {
  content: "\e999";
}
.ico-pie-chart:before {
  content: "\e99a";
}
.ico-stats-dots:before {
  content: "\e99b";
}
.ico-stats-bars:before {
  content: "\e99c";
}
.ico-stats-bars2:before {
  content: "\e99d";
}
.ico-lab:before {
  content: "\e9aa";
}
.ico-clipboard:before {
  content: "\e9b8";
}
.ico-list2:before {
  content: "\e9bb";
}
.ico-loop:before {
  content: "\ea2d";
}
.ico-embed:before {
  content: "\ea7f";
}
.ico-embed2:before {
  content: "\ea80";
}
.ico-plus:before {
  content: "\ea0a";
}
.ico-return:before {
  content: "\e912";
}