@import "constVar";
@import "fonts";
@import "icons";
@import "themable";

:root {
  --bg-color: #f1f2f3;
  --calculations-color: #000;
  --result-color: #000;
  --btn-bg: #ffff;
  --btn-bg-gray-color: #d2d3da;
  --btn-color: #000;
  --btn-bg-blue-color: #4b5efc;
  --btn-blue-color: #ffff;
  --selector-bg: #ffff;
  --notification-bg: rgba(204, 224, 243, 0.719);
  --notif-btn: rgb(140, 205, 248);
  --notif-btn-border: rgb(0, 0, 0);
}

:root[theme="dark"] {
  --bg-color: #17171c;
  --calculations-color: #ffff;
  --result-color: #ffff;
  --btn-bg: #2e2f38;
  --btn-color: #ffff;
  --btn-bg-gray-color: #4e505f;
  --btn-bg-blue-color: #4b5efc;
  --btn-blue-color: #ffff;
  --selector-bg: #2e2f38;
}

* {
  font-family: "Work Sans", sans-serif;
}
.calc {
  width: 375px;
  height: 812px;
  background: var(--bg-color);
  font-family: "Work Sans";
  margin: 0 auto;
  transition: 0.1s ease-in;

  &__container {
    padding: 55px 20px;
  }

  &-screen {
    margin: 0;
    padding: 0;

    &__calculations {
      font-size: 40px;
      text-align: right;
      color: var(--calculations-color);
      margin: 0;
      padding: 0;
      opacity: 0.4;
      &_theme_dark {
        color: rgba($btn-white-color, 0.4);
      }
    }

    &__result {
      font-weight: 100;
      font-size: 96px;
      text-align: right;
      margin: 0;
      padding: 0;
      color: var(--result-color);
    }
  }

  &-buttons {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 16px;
    grid-template-areas:
      "btn_ac btn_plus-minus btn_percent btn_division"
      "btn_seven btn_eigth btn_nine btn_myltiply "
      "btn_four btn_five btn_six btn_minus"
      "btn_one btn_two btn_three btn_plus"
      "btn_dot btn_zero btn_delete btn_equal";

    .btn {
      cursor: pointer;
      font-size: 32px;
      font-weight: normal;
      border-radius: 24px;
      width: 72px;
      height: 72px;
      margin: 0;
      padding: 0;
      text-align: center;
      display: flex;
      background-color: var(--btn-bg);
      color: var(--btn-color);
      justify-content: center;
      align-items: center;
      user-select: none;

      &__plus-minus {
        position: relative;
        transform: rotate(10deg);
      }

      &__delete {
        height: 15px;
        width: 20px;
        position: relative;
        border-top: 2px solid var(--btn-color);
        border-bottom: 2px solid var(--btn-color);

        :before {
          content: "";
          left: 16px;
          position: absolute;
          top: -1px;
          height: 18px;
          width: 0px;
          border-right: 2px solid var(--btn-color);
          transform: rotate(-45deg);
        }

        :after {
          content: "";
          left: -4px;
          top: 16px;
          position: absolute;
          height: 11px;
          width: 11px;
          border-left: 2px solid var(--btn-color);
          border-bottom: 2px solid var(--btn-color);
          transform: rotate(0deg);
        }

        span {
          font-size: 27px;
          position: absolute;
          top: -9px;
          left: 0px;
          transform: rotate(45deg);
        }
      }

      &_bg {
        &_gray {
          background-color: var(--btn-bg-gray-color);
        }

        &_blue {
          background-color: var(--btn-bg-blue-color);
          color: var(--btn-blue-color);
        }
      }
    }
  }
}

.btn:hover {
  filter: brightness(0.9);
}
.btn:active {
  filter: brightness(0.8);
}

.btn__plus-minus:before {
  content: "+";
  font-size: 24px;
  transform: rotate(-10deg);
  left: -10px;
  position: absolute;
}

.btn__plus-minus:after {
  content: "-";
  font-size: 26px;
  transform: rotate(-10deg);
  left: 9px;
  top: 7px;
  position: absolute;
}

.multiplication {
  span {
    transform: rotate(45deg);
  }
}

.theme {
  display: flex;
  justify-content: center;

  &__container {
    box-sizing: border-box;
    display: flex;
    margin-top: 60px;

    .checkbox {
      opacity: 0;
      position: absolute;
    }
  }

  &__selector {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 72px;
    height: 32px;
    background-color: var(--selector-bg);
    border-radius: 16px;
    position: relative;
    cursor: pointer;

    i {
      font-size: 20px;
      color: var(--btn-bg-blue-color);
    }
  }

  &__select {
    display: flex;
    align-self: center;

    a {
      :hover {
        filter: brightness(0.6);
      }
    }
  }

  &__ball {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 41px;
    border-radius: 50%;
    background-color: var(--btn-bg-gray-color);
    transition: transform 0.2s linear;
  }
}

.checkbox:checked + .theme__selector .theme__ball {
  transform: translateX(-35px);
}

.notification {
  position: fixed;
  right: 0px;
  top: 790px;
  height: 140px;
  width: 350px;
  border-radius: 15px;
  background-color: var(--notification-bg);
  padding: 0 10px;
  box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
  transition: 0.3s ease-in;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      transform: rotate(45deg);
      cursor: pointer;
      font-size: 24px;
      user-select: none;
    }
  }

  &__title {
    font-weight: 600;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__btn {
    background-color: var(--notif-btn);
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
  }
}

.open {
}

@media screen and (min-width: 701px) and (max-width: 1920px) {
  .btn {
    width: 170px !important;
  }

  .calc {
    width: 768px;
    height: 1024px;

    &__container {
      padding: 267px 20px;
    }
  }

  .notification {
    right: 20px;
    top: 1000px;
    opacity: 0;
  }

  .open {
    right: 20px;
    top: 750px;
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .btn {
    width: 71.75px;
  }

  .calc {
    width: 375px;
    height: 812px;

    &__container {
      padding: 55px 20px;
    }
  }

  .notification {
    right: 0px;
    top: 1000px;
    opacity: 0;
  }

  .open {
    right: 0px;
    top: 650px;
    opacity: 1;
  }
}
