@import "constVar";
@import "fonts";
@import "icons";

.calc {
  width: 375px;
  height: 812px;
  background: $bg-light-color;
  font-family: "Work Sans";
  margin: 0 auto;
  transition: 0.1s ease-in;

  &_theme_dark {
    background-color: $bg-dark;
  }

  &__container {
    padding: 55px 20px;
  }

  &-screen {
    margin: 0;
    padding: 0;

    &__calculations {
      font-size: 40px;
      text-align: right;
      color: rgba($color: #000000, $alpha: 0.4);
      margin: 0;
      padding: 0;

      &_theme_dark {
        color: rgba($btn-white-color, 0.4);
      }
    }

    &__result {
      font-weight: 100;
      font-size: 96px;
      text-align: right;
      margin: 0;
      padding: 0;

      &_theme_dark {
        color: $btn-white-color;
      }
    }
  }

  &-buttons {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 16px;
    grid-template-areas:
      "ac plus-minus percent division"
      "seven eigth nine myltiply "
      "four five six minus"
      "one two three plus"
      "dot zero delete equal";

    .btn {
      cursor: pointer;
      font-size: 32px;
      font-weight: normal;
      border-radius: 24px;
      width: 72px;
      height: 72px;
      margin: 0;
      padding: 0;
      text-align: center;
      display: flex;
      background-color: #fff;
      justify-content: center;
      align-items: center;
      user-select: none;

      &_theme_dark-light {
        color: $btn-white-color;
        background-color: $btn-dark-light-color !important;
      }

      &_theme_dark {
        background-color: $btn-dark-color;
        color: $btn-white-color;
        border: white;
      }

      &__plus-minus {
        position: relative;
        transform: rotate(10deg);
      }

      &__delete {
        height: 15px;
        width: 20px;
        position: relative;
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;

        :before {
          content: "";
          left: 16px;
          position: absolute;
          top: -1px;
          height: 18px;
          width: 0px;
          border-right: 2px solid #000000;
          transform: rotate(-45deg);
        }

        :after {
          content: "";
          left: -4px;
          top: 16px;
          position: absolute;
          height: 11px;
          width: 11px;
          border-left: 2px solid #000000;
          border-bottom: 2px solid #000000;
          transform: rotate(0deg);
        }

        &_theme_dark {
          border-color: $btn-white-color;

          ::after {
            border-color: $btn-white-color;
          }

          ::before {
            border-color: $btn-white-color;
          }
        }

        span {
          font-size: 27px;
          position: absolute;
          top: -9px;
          left: 0px;
          transform: rotate(45deg);
        }
      }

      &_bg {
        &_gray {
          background-color: $btn-light-gray-color;
        }

        &_blue {
          background-color: $btn-blue-color;
          color: $btn-white-color;
        }
      }
    }
  }
}

.btn:hover {
  filter: brightness(0.9);
}
.btn:active {
  filter: brightness(0.8);
}

.btn__plus-minus:before {
  content: "+";
  font-size: 24px;
  transform: rotate(-10deg);
  left: -10px;
  position: absolute;
}

.btn__plus-minus:after {
  content: "-";
  font-size: 26px;
  transform: rotate(-10deg);
  left: 9px;
  top: 7px;
  position: absolute;
}

.multiplication {
  span {
    transform: rotate(45deg);
  }
}

.theme {
  display: flex;
  justify-content: center;

  &__container {
    box-sizing: border-box;
    display: flex;
    margin-top: 60px;

    .checkbox {
      opacity: 0;
      position: absolute;
    }
  }

  &__selector {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 72px;
    height: 32px;
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    cursor: pointer;

    &_theme_dark {
      background-color: $btn-dark-color;
    }

    i {
      font-size: 20px;
      color: $btn-blue-color;
    }
  }

  &__select {
    display: flex;
    align-self: center;

    a {
      :hover {
        filter: brightness(0.6);
      }
    }
  }

  &__ball {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 41px;
    border-radius: 50%;
    background-color: $btn-light-gray-color;
    transition: transform 0.2s linear;

    &_theme_dark {
      background-color: $btn-dark-light-color;
    }
  }
}

.checkbox:checked + .theme__selector .theme__ball {
  transform: translateX(-35px);
}

@media screen and (min-width: 701px) and (max-width: 1920px) {
  .btn {
    width: 170px !important;
  }

  .calc {
    width: 768px;
    height: 1024px;

    &__container {
      padding: 267px 20px;
    }
  }
}

@media screen and (max-width: 700px) {
  .btn {
    width: 71.75px;
  }

  .calc {
    width: 375px;
    height: 812px;

    &__container {
      padding: 55px 20px;
    }
  }
}
