@mixin themable(
  $theme-name,
  $calc-bg,
  $calculation-color,
  $result-color,
  $btn-bg,
  $btn-color,
  $btn-gray-color,
  $btn-blue-color,
  $menu-btn-color,
  $menu-list-color,
  $menu-item-color,
  $item-span-color
) {
  .#{$theme-name} {
    .calc {
      background-color: $calc-bg;

      &-screen {
        &__calculations {
          color: rgba($calculation-color, 0.4);
        }

        &__result {
          color: $result-color;
        }

        &__btn-right:hover, &__btn-left:hover{
          filter: brightness(1.2);
          background-color: rgba($btn-light-gray-color,0.1);
        }
      }

      &-buttons, .keyboard{
        .btn {
          background-color: $btn-bg;
          color: $btn-color;
          border: $btn-color;

          &__delete {
            border-color: $btn-color;

            ::after,
            ::before {
              border-color: $btn-color;
            }
          }

          &_bg {
            &_gray {
              background-color: $btn-gray-color;
            }
            &_blue {
              background-color: $btn-blue-color;
            }
          }
        }
      }

      &-homepage{

        &__info > h3,p{
          color:$item-span-color;
        }
      }
    }

    .theme {
      &__selector {
        background-color: $btn-bg;
      }

      &__ball {
        background-color: $btn-gray-color;
      }
    }

    .menu{
      &__btn{
        background-color: $menu-btn-color;
      }

      &-list{
        background-color: $menu-list-color;
      }

      h3{
        color:$item-span-color
      }

      .item{
        background-color: $menu-item-color;

        &::before{
          background-color: rgba($btn-light-gray-color,0.1);
          box-shadow: none;
        }

        &:active::before{
          background-color:rgba($btn-light-gray-color,0.05);
          box-shadow: 5px -5px 6px 3px rgba(133, 133, 133, 0.2) inset;
        }

        span{
          color:$item-span-color;

          svg{
            fill: $item-span-color;
          }
        }
      }
    }

    .btn_open{
      background-color: $menu-list-color;
    }

    .converter{

      &__swap-button{
        color:$btn-gray-color;

        &:hover{
          color: rgba($btn-gray-color, 0.8);
        }

        &:active{
          color: rgba($btn-gray-color, 0.6);
        }
      }

      &__container{

      .modal-info{

        &__container{
          box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.589) ;
          // border: 1px solid $btn-gray-color ;
        }

        &__header{
          background-color: $btn-gray-color;
        }

        &__status-list{
          border-color: $btn-gray-color;

          &::before{
            background-color: rgba($menu-list-color,0.4);
          }
  
          &:active::before{
            background-color:rgba($menu-item-color,0.5);
            box-shadow: 0px -5px 6px 0px rgb(221 218 218 / 12%) inset !important;
          }
        }

        &__status-api{
          animation: flashingDark 1s ease infinite;
        }
      }

     

      .screen{

        &-line{

          span{
            
            p{
              color:$result-color;
            }
          }
        }
      }

      span{
        color: $result-color;

        svg{
          background-color: $calc-bg !important;
        }
      }
    }
  }

    .window-limit{
      background-color: $bg-dark;
      box-shadow: 0px 2px 8px 0px $color-black;

      h4,span,p,a{
        color: $result-color;
      }

      .link{
        background-color: $btn-gray-color !important;
      }

      &__button{
        background-color: $btn-gray-color;
        color: $result-color;

        &:active{
          background: rgba($btn-gray-color,.5);
        }
      }

      &__service-line{
        button{
          background-color: $btn-blue-color;
          color: $result-color;

          &:active{
            background: rgba($btn-blue-color, 0.4);
          }

          &:hover{
            border: 1px solid rgba($result-color,0.8);
          }
        }
      }
    }

    select{
      background-color:$calc-bg;
      color: rgba($calculation-color, 0.4);
    }
  
    .keyboard{
        .btn {
          background-color: $btn-bg;
          color: $btn-color;
          border: $btn-color;

          &__delete {
            border-color: $btn-color;

            ::after,
            ::before {
              border-color: $btn-color;
            }
          }

          &_bg {
            &_gray {
              background-color: $btn-gray-color;
            }
            &_blue {
              background-color: $btn-blue-color;
            }
          }
        }
    }
  }
}

@keyframes flashingDark{
  0%{
    opacity: 1;
  }

  50%{
    opacity: .8;
    box-shadow: 0px 0px 2px 2px rgb(63, 63, 63);
  }

  100%{
    opacity: 1;
  }
}